<!DOCTYPE html>
<html>

<head>
    <title>Job Insight</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body id="pageBody" class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="container">

            <a class="navbar-brand fw-bold" href="/">
                🔍 Job Insight
            </a>

            <button id="themeButton" class="btn btn-light" onclick="toggleDarkMode()">

                🌙 Dark Mode

            </button>

        </div>

    </nav>

    <!-- 搜尋 -->
    <form method="GET" class="mb-4">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="搜尋職缺 / 公司">
            <button class="btn btn-primary">搜尋</button>
        </div>
    </form>

    <!-- 卡片區 -->
    <div class="row">

        {% for job in jobs %}

        <div class="col-md-6 col-lg-4">

            <div class="card mb-4 shadow-sm border-0 job-card">

                <div class="card-body position-relative">

                    <h5 class="card-title fw-bold">
                        <a href="/job/{{ job.id }}/">
                            {{ job.title }}
                        </a>
                    </h5>
                    <button class="btn btn-sm btn-outline-danger" onclick="toggleFavorite('{{ job.id }}', this)">
                        🤍
                    </button>

                    <p class="text-muted mb-1">
                        🏢 {{ job.company }}
                    </p>

                    <p class="mb-1">
                        💰 {{ job.salary }}
                    </p>

                    <p class="mb-2">
                        📍 {{ job.location }}
                    </p>

                    <!-- skill badge -->
                    <span class="badge bg-secondary">
                        {{ job.skill }}
                    </span>

                </div>

            </div>

        </div>

        {% empty %}

        <p class="text-center">沒有資料</p>

        {% endfor %}

    </div>

    </div>

    <nav>
        <ul class="pagination justify-content-center">

            {% if jobs.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ jobs.previous_page_number }}">上一頁</a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">
                    {{ jobs.number }} / {{ jobs.paginator.num_pages }}
                </span>
            </li>

            {% if jobs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ jobs.next_page_number }}">下一頁</a>
            </li>
            {% endif %}

        </ul>
    </nav>

    <script>

        function enableDarkMode() {

            const body = document.getElementById("pageBody")

            body.classList.remove("bg-light")
            body.classList.add("bg-dark")
            body.classList.add("text-white")

            const cards = document.querySelectorAll(".job-card")

            cards.forEach(card => {

                card.classList.add("bg-secondary")
                card.classList.add("text-white")

            })

            const button = document.getElementById("themeButton")

            button.innerHTML = "☀ Light Mode"

            localStorage.setItem("theme", "dark")
        }

        function disableDarkMode() {

            const body = document.getElementById("pageBody")

            body.classList.remove("bg-dark")
            body.classList.remove("text-white")
            body.classList.add("bg-light")

            const cards = document.querySelectorAll(".job-card")

            cards.forEach(card => {

                card.classList.remove("bg-secondary")
                card.classList.remove("text-white")

            })

            const button = document.getElementById("themeButton")

            button.innerHTML = "🌙 Dark Mode"

            localStorage.setItem("theme", "light")
        }

        function toggleDarkMode() {

            const body = document.getElementById("pageBody")

            if (body.classList.contains("bg-dark")) {

                disableDarkMode()

            } else {

                enableDarkMode()

            }
        }

        window.onload = function () {

            const theme = localStorage.getItem("theme")

            if (theme === "dark") {

                enableDarkMode()

            }
        }

        function toggleFavorite(jobId, btn) {

            fetch(`/favorite/${jobId}/`)

                .then(res => res.json())

                .then(data => {

                    if (data.status === "added") {
                        btn.innerHTML = "❤️"
                    } else {
                        btn.innerHTML = "🤍"
                    }

                })
        }

        window.onload = function () {

            const favorites = JSON.parse(localStorage.getItem("favorites")) || []

            document.querySelectorAll("button").forEach(btn => {

                const onclick = btn.getAttribute("onclick")

                if (!onclick) return

                const jobId = onclick.match(/'(.*?)'/)[1]

                if (favorites.includes(jobId)) {
                    btn.innerHTML = "❤️"
                }
            })
        }

    </script>
</body>

</html>